<ion-view title="QR Code for payment" id="page14">
  <ion-content padding="true" class="has-header">
    <h3 id="qRCodeForPayment-heading1" style="color:#0EEC46;text-align:center;">Payment Successful ! </h3>
    <div id="qRCodeForPayment-markdown2" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Use this code to get your food</strong>
      </p>
    </div>
    <div>
      <img src="img/9qxyoomTxemlRd6h8ApA_QRcode_image.svg.png" style="display: block; width: 60%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="qRCodeForPayment-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Tuna Salad</strong> $6</p>

      <p style="color:#000000;">
        <strong>The Coffee Shop</strong>
      </p>
    </div>
    <button id="qRCodeForPayment-button30" class="button button-royal button-block">Navigate to the place</button>
  </ion-content>
</ion-view>