<ion-view title="Reviews" id="page13">
  <ion-content padding="true" class="has-header">
    <ion-list id="reviews-list10">
      <ion-item class="item-avatar" id="reviews-list-item10">
        <img src="img/onslwKYPRQ2tvOkQybdV_icons8-user-128.png">
        <h2>Rafael</h2>
        <p style="white-space:normal;">I often go there when I have no time to cook. Many healthy foods and juice there!</p>
      </ion-item>
      <ion-item class="item-avatar" id="reviews-list-item22">
        <img src="img/SDYTZR4QeSFPwr5ArVhX_icons8-user-128.png">
        <h2>Jonny</h2>
        <p style="white-space:normal;">Very Nice Place! Healthy and fast!</p>
      </ion-item>
      <ion-item class="item-avatar" id="reviews-list-item24">
        <img src="img/65UsjSn5QrG74S5PLwDg_icons8-businesswoman-128.png">
        <h2>Di Wang</h2>
        <p style="white-space:normal;">It saves me when I am hungry between the classes!</p>
      </ion-item>
      <ion-item class="item-avatar" id="reviews-list-item25">
        <img src="img/m80aKcXUSPqgoRb78I0Q_icons8-vip-128.png">
        <h2>Dongxiu</h2>
        <p>Good place!</p>
      </ion-item>
    </ion-list>
    <button id="reviews-button28" class="button button-royal button-block">Add Review</button>
  </ion-content>
</ion-view>