<ion-view title="setting" id="page4">
  <ion-content padding="true" class="has-header">
    <ion-list id="setting-list1">
      <ion-item class="item-avatar" id="setting-list-item6">
        <img src="img/hlQ8JxMWTn2lBDrhCUBt_icons8-male-user-64.png">
        <h2>David</h2>
        <p>Pittsburgh,PA</p>
      </ion-item>
    </ion-list>
    <div id="setting-button-bar2" class="button-bar">
      <button id="setting-button13" class="button button-royal button-small button-block button-outline">My Points</button>
      <button id="setting-button14" class="button button-royal button-small button-block button-outline">My Healthy Index</button>
    </div>
    <ion-list id="setting-list3">
      <ion-item class="item-divider" id="setting-list-item-divider1"> My Record</ion-item>
      <ion-item class="item-thumbnail-left" id="setting-list-item17">
        <img src="img/GDLISySqTLS2GOZHfrTP_restaurant-300x200.jpeg">
        <h2>resturant1</h2>
        <p>Healthy. Good Taste.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="setting-list-item18">
        <img src="img/he9CKQMxTKCDiiAIK86g_sushi.jpg">
        <h2>Sushi</h2>
      </ion-item>
      <ion-item class="item-divider" id="setting-list-item-divider2"> </ion-item>
      <label class="item item-input" id="setting-textarea1">
        <span class="input-label">Provide Your Feedback</span><textarea placeholder=""></textarea></label>
    </ion-list>
  </ion-content>
</ion-view>