<ion-view id="page1">
  <ion-tabs class="tabs-light tabs-icon-top" id="tabsController-tabs1">
    <ion-tab title="suggestions" icon="ion-heart" href="#/page1/suggestions" id="tabsController-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="discover" icon="ion-paintbrush" href="#/page1/discover" id="tabsController-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="setting" icon="ion-android-settings" href="#/page1/setting" id="tabsController-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>